{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Bootstrap Tutorial</title>
    <style>
        #burger{
          left: 60% !important;
          right: 10% !important;
        }
        #pizza{
          left: 10% !important;
          right: 60% !important;
        }
        .carousel-caption{
            top: 45%;
            transform: translateY(-50%);
            bottom: initial;
        }
        .carousel-indicators [data-bs-target]{
            width: 10px !important;
            height: 10px !important;
            border-radius: 50%;
        }

        .carousel-item {
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        .cartcounter {
            border: solid 1px rgb(0, 247, 255);
            border-radius: 50%;
            width: fit-content;
            height: fit-content;
            color: rgb(0, 247, 255);
            line-height: 1em;
            padding-top: 1.5px;
            padding-bottom: 3px;
        }
        footer {
          background-color: black;
        }  
        nav {
          position: fixed;
          background-color: rgba(0, 0, 0, 0.8);
        }
        .carousel {
          margin-top: 0.8%;
        }
        i{
          color: #f0f0f0 !important;
          font-size: 1.6em;
        }
        .nav-link{
          color: #f0f0f0 !important;
        }
        body{  
          background-color: #1d1d1d !important;
        }
    </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/Logo.png' %}" alt="" height="35em">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <!--<a class="nav-link active" aria-current="page" href="#">Home</a>-->
              {% if request.user.is_authenticated %}
              <a class="nav-link d-flex align-items-center justify-content-center mx-3" href="{% url 'cart' %}"> 
                <span class="cartcounter d-flex justify-content-center align-items-center px-1">{{ AllCartItems|length }}</span> &nbsp;Cart
              </a>
              {% endif %}
              <a class="nav-link d-flex align-items-center justify-content-center mx-3" href="{% url 'menu' %}">ORDER NOW</a>
              {% if request.user.is_authenticated %}
              <a class="nav-link dropdown-toggle d-flex justify-content-center align-items-center" href="#" id="profileDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i id="profileIcon" class="bi-person-circle"></i>
              </a>
              <ul style="margin-right: 4.9%; margin-left: 4.9%;" class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <center><i id="profileIcon" class="bi-person-circle" style="font-size: 5em;"></i></center>
                <center><p class="lead fs-6">Logged in as: {{request.user.username}}</p></center>
                <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'profile' %}">View Profile</a></li>
                <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'orders' %}">View Orders</a></li>
                <li><a class=" btn btn-outline-danger dropdown-item d-flex justify-content-center" href="{% url 'logout' %}">LOGOUT</a></li>
              </ul>
              {% else %}
              <a class="nav-link d-flex align-items-center justify-content-center btn rounded-pill btn-outline-danger text-lightlead mx-3" href="{% url 'login' %}">LOGIN</a>
              <a class="nav-link d-flex align-items-center justify-content-center btn rounded-pill btn-outline-info text-lightlead mx-3" href="{% url 'register' %}">SIGN UP</a>
              {% endif %}
            </div>
          </div>
        </div>
    </nav>
    <!-- END OF NAVBAR -->

    <br class="d-block d-xl-none">
    <br class="d-block d-xl-none">
    <br class="d-block d-xl-none">
    <br>
    <br>

    <!-- CAROUSEL -->
    <section>
        <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption" id = 'pizza'>
                    <p class="h2 text-light d-none d-md-block">Try the all new Paneer Passion pizza today!</p>
                    <p class="text-light fs-5 d-none d-md-block">Lots of cheese, spices, an assortment of veggies, and the best of all, paneer. Order today!</p>
                    <p class="h5 text-light d-block d-md-none">The New <br> Paneer Passion Pizza!</p>
                </div>
                <img src="{% static 'images/p.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <div class="carousel-caption" id = 'burger'>
                    <p class="h2 text-dark d-none d-md-block">The New ExtraSaucy Burgers</p>
                    <p class="text-dark fs-5 d-none d-md-block">We took the burgers you love and made them even better. Order today!</p>
                    <p class="h5 text-light d-block d-md-none">Wide Range <br> of Burgers!</p>
                </div>
                <img src="{% static 'images/burger.jfif' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <div class="carousel-caption" id = 'sides'>
                    <p class="h2 text-light d-none d-md-block">The Best Fast Food Sides</p>
                    <p class="text-light d-none d-md-block">Choose from our wide range of fries,<br> nuggets, soft drinks, and many more<e/p>
                    <p class="h5 text-light d-block d-md-none">The Best Fast <br> Food Sides</p>
                    
                </div>
                <img src="{% static 'images/sides.jpg.png' %}" class="d-block w-100" alt="...">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        </div>

    </section>
    <!-- END OF CAROUSEL -->
  
    <br>
    <br>
    
    {% if request.user.is_authenticated %}
      <div class="container">
        <p class="display-5 text-light">Welcome, {% if u %}{{ u.CustomerName }}{% else %}{{ request.user }}{% endif %}</p>
      </div>
      <br>
      <br>
      <!-- CARD SECTION -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
          <div class="card text-center bg-dark shadow-lg" style="width: 18rem;">
            <img src="{% static 'images/Cartimage.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-light">Go To Your Cart</h5>
              <p class="lead card-text text-light">Head to your cart to complete any pending orders</p>
              <a href="{% url 'cart' %}" class="btn btn-danger">CART</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
          <div class="card text-center bg-dark shadow-lg" style="width: 18rem;">
            <img src="{% static 'images/PastOrders.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-light">Order History</h5>
              <p class="lead card-text text-light">Checkout a history of your past orders</p>
              <a href="{% url 'orders' %}" class="btn btn-danger">VIEW ORDERS</a>
            </div>
          </div>
        </div>
        <!---->
        <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
          <div class="card text-center bg-dark shadow-lg" style="width: 18rem;">
            <img src="{% static 'images/menu.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-light">Checkout The Menu!</h5>
              <p class="lead card-text text-light"></i>Head to the menu page to see everything you can order</p>
              <a href="{% url 'menu' %}" class="btn btn-danger">MENU</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF CARD SECTION -->

    {% else %}


    <!-- CARD SECTION -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
          <div class="card text-center bg-dark shadow-lg" style="width: 18rem;">
            <img src="{% static 'images/menu.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-light">Checkout The Menu!</h5>
              <p class="lead card-text text-light">Head to the menu page to see everything you can order</p>
              <a href="{% url 'menu' %}" class="btn btn-danger">MENU</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
          <div class="card text-center bg-dark shadow-lg" style="width: 18rem;">
            <img src="{% static 'images/login.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-light">Login</h5>
              <p class="lead card-text text-light">Login to place an order, see your past orders, and more</p>
              <a href="{% url 'login' %}" class="btn btn-danger">LOGIN</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
          <div class="card text-center bg-dark shadow-lg" style="width: 18rem;">
            <img src="{% static 'images/signup.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-light">Signup</h5>
              <p class="lead card-text text-light">Create an account to be able to place orders</p>
              <a href="{% url 'register' %}" class="btn btn-danger">SIGNUP</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF CARD SECTION -->
    {% endif %}


    <br>
    <br>
    <br>
    
    <!-- Footer -->
  <footer class="page-footer">
  <div class="footer-copyright text-center text-light py-3">© 2021 Copyright: &nbsp;<a href="{% url 'home' %}">FastFood Online™</a></div>
  </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
      const observer = new MutationObserver(function(mutations){
        mutations.forEach(function(mutation){
          if(mutation.attributeName === 'aria-expanded'){
            console.log(document.getElementById('profileDrop').getAttribute('aria-expanded'));
            if (document.getElementById('profileDrop').getAttribute('aria-expanded') === 'true') {
              func();              
            }
            else{
              otherFunc();
            }
          }
        })
      });
      const droplink = document.getElementById('profileDrop');
      observer.observe(droplink,{
        attributes: true,
      });
      function func(){
        document.getElementById('profileIcon').className = 'd-none';
      }
      function otherFunc(){
        document.getElementById('profileIcon').className = 'bi-person-circle';
      }
    </script>

</body>
</html>